@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



.btn-primary {
  @apply text-white border-none rounded-xl bg-gradient-to-r from-[#FF8811] to-[#FF0000];
}

.btn-primary:hover {
  @apply opacity-90;
}


.active {
  @apply text-purple-800 underline
}


